@import 'animation.scss';

:root {
	--ease-base-out: $ease-base-out;
	--ease-base-in: $ease-base-in;
	--ease-out: $ease-out;
	--ease-in: $ease-in;
	--ease-in-out: $ease-in-out;
	--ease-out-back: $ease-out-back;
	--ease-in-back: $ease-in-back;
	--ease-in-out-back: $ease-in-out-back;
	--ease-out-circ: $ease-out-circ;
	--ease-in-circ: $ease-in-circ;
	--ease-in-out-circ: $ease-in-out-circ;
	--ease-out-quint: $ease-out-quint;
	--ease-in-quint: $ease-in-quint;
	--ease-in-out-quint: $ease-in-out-quint;
	// Shadow
	--box-shadow-depth-1: 0 1px 3px rgba(#000, 0.12), 0 1px 2px rgba(#000, 0.24);
	--box-shadow-depth-2: 0 3px 6px rgba(#000, 0.16), 0 3px 6px rgba(#000, 0.23);
	--box-shadow-depth-3: 0 10px 20px rgba(#000, 0.19), 0 6px 6px rgba(#000, 0.23);
	--box-shadow-depth-4: 0 14px 28px rgba(#000, 0.25),
		0 10px 10px rgba(#000, 0.22);
	--box-shadow-depth-5: 0 19px 38px rgba(#000, 0.3),
		0 15px 12px rgba(#000, 0.22);
}
