img {
	max-width: 100%;
}

.avatar-md {
	width: 48px;
}

.avatar-sm {
	width: 32px;
	height: 32px;
}

a:hover {
	text-decoration: unset;
}

*:focus {
	outline: none;
}

/* Clear library */
.popover .arrow {
	display: none;
}
.popover-body {
	padding: unset;
}
/* END_Clear library */
