html {
	--main-color: #3b63a1;
	--secondary-color: #707070;
}
html[data-theme='dark'] {
	--main-color: red;
}

:root {
	--size-1: 0.25rem;
	--size-2: 0.5rem;
	--size-3: 0.75rem;
	--size-4: 1rem;
	--size-5: 1.25rem;
	--size-6: 1.5rem;
	--size-7: 1.75rem;
	--size-8: 2rem;
	--size-9: 2.25rem;
	--size-10: 0.5rem;
}
